Django==1.6.2
Pillow==2.0.0
South==0.8.4

-e git+https://github.com/mariocesar/sorl-thumbnail.git@master#egg=sorl-thumbnail

django-compressor==1.3
django-cors-headers==0.10
django-extensions==1.3.3
django-tastypie==0.10.0
django-userena==1.2.4
djangular==0.2.2 # still needed?
django-autoslug==1.7.1
psycopg2==2.5.2
python-dateutil==2.1
django-taggit==0.11.2
django-multiuploader==0.2.6
simplejson
pysendfile==2.0.0
django-haystack==2.1.0
pyelasticsearch==0.6.1

# CMS 3.0beta -- buggy
-e git+https://github.com/divio/django-cms.git@a9ed4e4ecb104d15a308359ed8d39013a716956d#egg=django-cms
-e git+https://github.com/divio/djangocms-text-ckeditor.git@c2fba71969ab12a521bf15af93035a1b13892191#egg=djangocms_text_ckeditor-dev
django-filer==0.9.4
cmsplugin-filer==0.9.5
django-reversion==1.7

pygeocoder
