{% load cms_tags menu_tags %}

<div id="slider">
    {% if instance.image1 %}<img src="{{ instance.image1.url }}" alt="" />
        {% else %}<img src="{{ STATIC_URL }}images/_TEMP/projet_pic_large.jpg" alt="" />
    {% endif %}
    {% if instance.image2 %}<img src="{{ instance.image2.url }}" alt="" />
        {% else %} <img src="{{ STATIC_URL }}images/_TEMP/test.jpg" alt="" />
    {% endif %}
    {% if instance.image3 %}<img src="{{ instance.image3.url }}" alt="" />
        {% else %}<img src="{{ STATIC_URL }}images/_TEMP/test2.jpg" alt="" />
    {% endif %}
</div>
