/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@font-face {
    font-family: 'rbno2_l';
    src: url('../ressources/rbno2light-webfont.eot');
    src: url('../ressources/rbno2light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../ressources/rbno2light-webfont.woff') format('woff'),
         url('../ressources/rbno2light-webfont.ttf') format('truetype'),
         url('../ressources/rbno2light-webfont.svg#rbno2_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rbno2_la';
    src: url('../ressources/rbno2light_a-webfont.eot');
    src: url('../ressources/rbno2light_a-webfont.eot?#iefix') format('embedded-opentype'),
         url('../ressources/rbno2light_a-webfont.woff') format('woff'),
         url('../ressources/rbno2light_a-webfont.ttf') format('truetype'),
         url('../ressources/rbno2light_a-webfont.svg#rbno2_light_alternative_Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family:Raleway,sans-serif;
	font-size:12px;
}

* {
	@include box-sizing("border-box");
}

.inner-wrap {
	left: 50%;
    margin: 0 -475px;
    position: absolute;
    top: 0;
    width: 950px;
}

// HEADER 
 
header {
	width:120px;
	height:210px;
	border:1px solid black;
	background:#131313;
	position:fixed;
	top:40px;
	left:400px;
	z-index:12000;

	.wrap-header {
		border:1px solid #222;
		width:120px;
		height:209px;
	}

	img.logo {
		display:block;	
		margin:5px auto 7px;
	}

	nav {
		ul {
			margin:0 5px;
			padding-top:5px;
			border-top:1px solid #222;
			@include box-shadow(0 -1px 0 #000);

			li {
				text-align:center;
				display:block;
				font-family:'rbno2_la', sans-serif;
				line-height:18px;
				font-size:1.2rem;
				margin:0 0 14px;

				a {
					color:#737373;
					text-decoration:none;

					&:hover {
						color:white;
					}
				}
			}
		}
	}
}

// main

#main {
	background:white;
	width:100%;
	height:650px;
	overflow:hidden;
	position:relative;

	.inner-wrap {
		height:650px;
		z-index:10000;
	}

	#slider {
		img {
			display:block;
			width:100%;
		}

		.pagination {
			position:absolute;
			z-index:12000;
			bottom:60px;
			left:660px;
			display:none;

			li {
				display:block;
				float:left;
				background:white;
				width:60px;
				height:10px;
				margin:0 10px 0 0;
				text-indent:-999rem;
				outline:0;

				&.current {
					background:#85c9fa;
				}
			}
		}
	}

	#slidercover {
		position:absolute;
		left:0;
		top:0;
		display:block;
		height:650px;
		width:100%;
		background:image-url('filterimg.png');
		z-index:1000;
	}

	h1 {
		width:328px;
		border:7px solid white;
		padding:25px 35px 80px 25px;
		position:absolute;
		bottom:20px;
		left:140px;
		font-family:'rbno2_la', sans-serif;
		text-transform:uppercase;
		color:white;
		font-size:3.6rem;
		line-height:4.2rem;
		background:rgba(0,0,0,0.5);
	}

	.wrap-content {
		width:450px;
		position:absolute;
		right:0;
		top:0;
		height:650px;
		padding:50px 0 0 45px;
		background:white image-url('presa_bg.gif');

		h2 {
			font-family:'rbno2_la', sans-serif;
			color:#3d3d3d;
			border:3px solid #3d3d3d;
			line-height:36px;
			padding:0 10px;
			position:relative;
			float:left;
			font-size:1.8rem;

			span {
				display:block;
				height:20px;
				width:20px;
				position:absolute;
				right:-20px;
				top:-20px;
				border:3px solid #3d3d3d;
				line-height:14px;
				font-size:1.4rem;
				text-align:center;
			}
		}

		.content {
			float: left;
		    height: 500px;
		    margin: 24px 0 0;
		    width: 375px;
		    overflow:auto;

		    article {
		    	margin:0 0 42px;
		    }

		    h3 {
		    	color:#818181;
		    	font-weight:bold;
		    	margin:0 0 15px;
		    	font-size:1.4rem;
		    }

		    p {
		    	color:#666;
		    	font-size:0.75rem;
		    	line-height:0.85rem;
		    	padding-right:25px;
		    }
		}

		.share {
			height:34px;
			width:100%;
			background:image-url('share_bg.gif');
			position:absolute;
			left:0;
			bottom:0;

			a {
				float:right;
				color:#a7a7a7;
				line-height:34px;
				text-transform:uppercase;
				font-weight:bold;
				padding-left:26px;
				padding-right:22px;
				background:image-url('share.png') no-repeat left center;
				text-decoration:none;
			}
		}
	}
}

#actu {
	background:white;
	width:100%;
	height:690px;
	overflow:hidden;
	position:relative;

	.inner-wrap {
		height:690px;
		z-index:10000;
	}

	#col1 {
		float:left;
		width:330px;
		margin-left:110px;

		h1 {
			font-family:'rbno2_la', sans-serif;
			color:#3d3d3d;
			border:3px solid #3d3d3d;
			line-height:36px;
			padding:0 10px;
			position:relative;
			float:left;
			font-size:1.8rem;
			margin:40px 0 15px 30px;
		}

		ul {
			padding:0 15px 0 15px;

			li {
				display:block;
				float:left;
				margin:0 0 12px;
				width:100%;
				padding-right:30px;

				&:hover {
					background:image-url('actu_hover_bg.gif');
				}

				img {
					float:left;
					display:block;
					margin:0 12px 0 0;
					border:7px solid #ebe3db;
					@include border-radius(38px);
				}

				em {
					color: #A7A7A7;
				    display: block;
				    font-size: 0.7rem;
				    font-style: italic;
				    padding: 10px 0 5px;
				}

				strong {
					display:block;
					text-transform:uppercase;
					font-weight:bold;
					font-size:0.8rem;

					a {
						color:#7bbae7;
						text-decoration:none;
						line-height:1rem;
					}
				}
			}
		}
	}

	#col2 {
		float:left;
		width:510px;
		padding-left:60px;

		h1 {
			padding:30px 20px;
			color:#c7b29c;
			font-size:2rem;
			font-family:'rbno2_l', sans-serif;
		}

		img.splash {
			margin:100px 0 0 20px;
		}

		span.date {
			color: #A7A7A7;
		    display: block;
		    font-size: 0.8rem;
		    font-style: italic;
		    padding: 10px 0 0 20px;
		}

		h2 {
			color: #7BBAE7;
		    font-size: 1.2rem;
		    font-weight: bold;
		    padding: 10px 0 12px 20px;
		    text-transform: uppercase;
		}

		.desc {
			padding:0 20px 0 20px;
		}
	}
}
		
#main .content-from-cms, #actu .content-from-cms {	
	p {
		text-align:justify;
		font-size:0.7rem;
		line-height:0.9rem;
		color:#666;
		margin:0 0 5px;
	}
	
	a {
		color:#666;
		text-decoration:none;
		
		&:hover {
			text-decoration:underline;
		}
	}
	
	ul {
		font-size:0.7rem;
		line-height:0.9rem;
		list-style-type:disc;
		margin:0 0 5px 15px;
	}
	
	ol {
		font-size:0.7rem;
		line-height:0.9rem;
		list-style-type:decimal;
		margin:0 0 5px 15px;
	}
	
	h1, h2, h3 {
		border:0 !important;
		float:none !important;
		position:static !important;
		font-size:1.2rem !important;
		line-height:1.4rem !important;
		margin:10px 0 !important;
		color:#666 !important;
		font-family:Raleway, sans-serif !important;
		padding:0 !important;
		background:none !important;
		text-transform:none !important;
	}
}

#carto {
	height:850px;
	background:black;
}
